.MuiDrawer-paper > div > ul {
  width: 225px;
}

.drawer-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.drawer-item {
  text-align: center;
}

.MuiButton-contained {
  text-transform: none !important;
}