/* body {
    height: 100%;
    width: 100%;
} */

.goBack {
  height: 50px;
  width: 50px;
  background-image: url('./src/images/back-arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  
}

.descriptor {
  border: 1px solid black;
  justify-content: space-around;
  text-align: center;
  display: flex;
}

.key {
  width: 50%;
  line-height: 1.7;
  font-size: 1.01em;
}

#information {
  border-right: 1px solid black;
}

.onTop {
  display: flex;
  justify-content: space-between;
}

.dexByGen {
  width: 14%;
  text-align: center;
}

.pokesGen {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
}

a {
  text-decoration: none;
  color: darkslategrey;
  line-height: 1.4;
}

a:hover {
  color: lightslategrey;
}

.spinner {
  background-image: url("./src/images/pokeball-gif-24.gif");
  background-color: white;
  justify-content: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}